//----------CSS RESET----------//
*, *::before, *::after{
    box-sizing: border-box; /* Set the sizing of an element to include it's border */
    user-select: none;
    font-weight: unset;
}
br{
    display: none;
}
*{
    margin: 0; /* Set the default margin to 0 */
    padding: 0; /* Set the default padding to 0 */
    transition: all .2s, color 0s;
}

ul[role='list'], ol[role='list']{
    list-style: none; /* Turn off numbered and unordered list decoration */
}
li{
    list-style-type: none;
}

html:focus-within{
    scroll-behavior: smooth; /* Make the scrolling inside of any scrollable element smooth */
}

a:not([class]){
    text-decoration-skip-ink: auto; /* Makes link undelines look better */
}
a{
    all: unset;
    cursor: pointer;
    font-family: geistMonoMedium;
    color: var(--link);
}
a:hover{
    text-decoration: underline #ff6d0b;
    color: var(--linkHover);
}
button{
    all: unset;
    cursor: pointer;
}
img, picture, svg, video, canvas{
    max-width: 100%; /* Makes it responsive */
    height: auto; /* Makes it responsive */
    vertical-align: middle; /* Makes text next to inline images look better */
    font-style: italic; /* If the images don't load it makes the alt decription look better */
    background-repeat: no-repeat; 
    /* The background repeat and size are there if you want to load a picture first like a backroung image that is worse quality while the better quality image loads */
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; /* Makes these elements inherit fonts */
    border: none;
    border-radius: 0;
}

body, html{
    scroll-behavior: smooth; /* Makes normal scrolling smooth */
    background: var(--bodyBackground);
    min-height: 100vh;
    // background: #ff0000; background-image: radial-gradient(at 20.0% 37.8%, #c70000 0px, transparent 50%),radial-gradient(at 67.2% 60.3%, #a30000 0px, transparent 50%),radial-gradient(at 13.5% 78.8%, #940000 0px, transparent 50%),radial-gradient(at 102.7% 27.9%, #e04c4c 0px, transparent 50%),radial-gradient(at 64.0% 39.4%, #610000 0px, transparent 50%),radial-gradient(at 77.1% 87.4%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 2.0% 21.0%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 32.1% 66.0%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 39.6% 65.1%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 29.8% 35.3%, hsl(0, 100%, 33%) 0px, transparent 50%)
}

//----------------COLOURS----------------//
:root{
    --bodyBackground: #050505;
    --header: #0f0f0f;
    --fetch: /*linear-gradient(270deg, #121212, #1e1e1e)*/ #ff6d0b;
    --popup: #050505;
    --footer: #070707;


    --title: #cacaca;
    --lightDarkBtns: #ababab;
    --bodyText: #e4e4e4;
    --highlightedText: #f6f6f6;
    --fetchText: #e0e0e0;
    --link: #a8a8a8;
    --linkHover: #f3f3f3;


    --dataTable: 1px solid #3f3f3f;
    --dataActiveOutline: 1px solid #646464;
}
.lightmode{
    --bodyBackground: #f1f1f1;
    --header: #ffffff;
    --fetch: /*linear-gradient(270deg, #121212, #1e1e1e)*/ #ff6d0b;
    --popup: #ececec;
    --footer: #ececec;


    --title: #1b1b1b;
    --lightDarkBtns: #2b2b2b;
    --bodyText: #202020;
    --highlightedText: #1b1b1b;
    --fetchText: #e4e4e4;
    --link: #202020;
    --linkHover: #3d3d3d;


    --dataTable: 1px solid #646464;
    --dataActiveOutline: 1px solid #646464;
}
.page-content{
    height: 100%;
    width: 100%;
}
//-----------HEADER----------//
header{
    height: 50px;
    background: var(--header);
    padding-inline: 16px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(24px) saturate(100%);
}
.header-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 32px;
}
.page-link-container{
    display: flex;
    align-items: center;
    gap: 8px;
}
.page-links{
    border-radius: 4px;
    padding: 8px 16px;
    width: fit-content;
    transition: all .1s;
}
p[id="newsboard"]{
    color: #ff6d0b;
}
.title{
    height: fit-content;
}
.light-dark-mode{
    display: flex;
    gap: 12px;
    height: fit-content;
}
button.light-dark{
    border: none;
    background: none;
    color: var(--lightDarkBtns);
    font-size: 24px;
    cursor: pointer;
    display: grid;
    place-items: center;
}
.mobile-nav-dropdown{
    display: none;
}
.dropdown-menu{
    height: 0;
    overflow: hidden;
}
//-----------MAIN----------//
.hero{
    background-size: cover;
    background-position: 100% 40%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 32px;
    height: 300px;
}
.hero[aria-page="home"]{
    background: linear-gradient(to bottom, #ffffff00, #050505), url(../bg/hero-home.png);
    background-position: 100% 50%;
    margin-bottom: 48px;
}
.hero[aria-page="apod"]{
    background: linear-gradient(to bottom, #ffffff00, #050505), url(../bg/hero-apod.jpg);
}
.hero[aria-page="rover"]{
    background: linear-gradient(to bottom, #ffffff00, #050505), url(../bg/hero-mars.webp);
    background-position: 100% 50%;
}
main{
    padding: 32px;
}
.main-content{
    display: flex;
    gap: 48px;
    flex-direction: column;
    align-items: center;
}
//-----------SECTION----------//
.section-title{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
section.content-section{
    display: flex;
    gap: 8px;
    width: 100%;
    padding-inline: 15vw;
}
section.home{
    flex-direction: column;
    padding: 0;
}
section.apod{
    flex-direction: column;
}
section.rover{
    flex-direction: column;
}
//-----------TEXT----------//
h1{
    font-size: 1.5em;
    font-family: interMedium;
    color: var(--title);
    letter-spacing: -.03em;
}
p.site-description{
    font-size: 2.5em;
    font-family: interBold;
    color: #f6f6f6;
    letter-spacing: -.03em;
    text-align: center;
}
p.api-provider{
    font-family: interMedium;
    color: #f6f6f6;
    letter-spacing: -.03em;
    text-align: center;
}
p.site-intro-text{
    font-family: interMedium;
    font-size: 1.3em;
    color: var(--title);
    letter-spacing: -.03em;
    text-align: center;
}
h2{
    font-size: 1.75em;
    font-family: interMedium;
    color: var(--title);
    letter-spacing: -.02em;
}
p.intro-description{
    font-size: 1em;
    font-family: interRegular;
    color: var(--bodyText);
}
p.si-text{
    font-size: 1em;
    font-family: geistMonoRegular;
    color: var(--link);
}
//-----------HOME----------//
.home-nav{
    height: 350px;
    width: 100%;
    gap: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: end left;
    padding: 16px;
}
article{
    height: 350px;
    width: 100%;
    display: grid;
    place-items: center;
    padding: 16px;
}
.home-nav-text{
    display: flex;
    gap: 4px;
    align-items:baseline;
}
.home-nav i{
    color: #ff6d0b;
    font-size: 1.75em;
}
p.page-title{
    font-size: 1.75em;
    font-family: interMedium;
    color: #fff;
    letter-spacing: -.02em;
}
.apod-page{
    background: linear-gradient(to bottom, #00000000, #000000ee), url(../bg/hubble.jpg);
    background-position: 100% 50%;
}
.mrp-page{
    background: linear-gradient(to bottom, #ffffff00, #050505), url(../bg/hero-mars.webp);
    background-position: 100% 50%;
}
.eonet-page{
    background: linear-gradient(to bottom, #ffffff00, #050505), url(../bg/earth.jpg);
    background-position: 30% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.ssd-cneos-page{
    background: linear-gradient(to bottom, #ffffff00, #050505), url(../bg/ssd-cneos.jpg);
    background-position: 30% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.swdonki-page{
    background: linear-gradient(to bottom, #ffffff00, #050505), url(../bg/swdonki.webp);
}
.mws-page{
    background: linear-gradient(to bottom, #ffffff00, #050505), url(../bg/mws.jpg);
}
//-----------APODS----------//
.api-controls{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
p.control-label{
    font-size: .8em;
    font-family: geistMonoRegular;
    color: var(--bodyText);
}
.control-container{
    gap: 8px;
    display: flex;
    flex-direction: column;
}
.controls{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.input-row{
    display: flex;
    flex-direction: row;
    gap: 4px;
    height: 36px;
}
input{
    background: var(--fetch);
    font-family: geistMonoBold;
    padding: 8px;
    color: var(--fetchText);
    height: 34px;
}
input.data-range:focus{
    outline: var(--dataActiveOutline);
}
button.fetch-data{
    background: var(--fetch);
    display: grid;
    place-items: center;
    aspect-ratio: 1;
    height: 34px;
    font-size: 20px;
    color: var(--fetchText);
    cursor: pointer;
}
.actions{
    display: flex;
    justify-content: space-between;
}
.action-btn{
    display: grid;
    place-items: center;
}
button.action-btn{
    background: var(--fetch);
    font-family: geistMonoBold;
    padding-inline: 8px;
    color: var(--fetchText);
    height: 34px;
    display: flex;
    gap: 4px;
    align-items: center;
}
.api-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#otherApods{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    gap: 8px;
    width: 100%;
}
#otherApods img{
    grid-area: auto;
}
.img-container{
    border-radius: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    place-items: center;
}
.spinner {
    display: none;
    height: 300px;
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;
}
.spinner-items{
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}
.spinner-animation{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.spinner-icon i{
    background: conic-gradient(#b4b4b4, #525252);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    animation: spinner 1.5s infinite linear;
}
@keyframes spinner{
    from{
        transform: rotate(0);
    } to {
        transform: rotate(360deg);
    }
}
p.spinner-text{
    font-size: 1em;
    color: var(--title);
    font-family: geistMonoRegular;
}
img.apod-img{
    // border-radius: inherit;
    width: 75vw;
}
img.historic-apod-img{
    width: 75vw;
}
iframe{
    width: 100%;
    aspect-ratio: 16 / 9;
    display: none;
    grid-area: 1 / 1 / 2 / 2;
}
.data-table{
    border: var(--dataTable);
}
.apod-info{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.img-data{
    display: flex;
    width: 100%;
    justify-content: center;
}
.data{
    width: 100%;
    text-align: center;
    padding: 6px 0;
    border-top: var(--dataTable);
}
.data:nth-of-type(2){
    border-inline: var(--dataTable);
}
.apod-explanation{
    padding: 6px 0;
}
p.data-label{
    text-transform: uppercase;
    text-align: center;
    font-family: geistMonoMedium;
    font-size: .9em;
    color: var(--title);
    padding-bottom: 6px;
    padding-inline: 4px;
    margin-bottom: 6px;
    border-bottom: var(--dataTable);
}
p.apod-title, p.historic-apod-title{
    text-align: center;
    font-family: interMedium;
    font-size: 1em;
    color: var(--title);
    border-bottom: var(--dataTable);
    padding-bottom: 6px;
}
p.img-copyright, p.historic-img-copyright{
    font-size: .8em;
    font-family: geistMonoRegular;
    color: var(--bodyText);
}
//-----------EXPLANATIONS----------//
.explan-container{
    background: var(--popup);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
p.explanation-title{
    font-size: 1.2em;
    font-family: interMedium;
    color: var(--title);
    margin-bottom: 4px;
}
p.explanation, p.historic-explanation{
    font-size: 1em;
    font-family: interRegular;
    color: var(--bodyText);
    text-align: center;
    padding: 8px;
}
//-----------MARS ROVER----------//
.rover-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
li.date-container{
    display: flex;
    gap: 4px;
    list-style-type: disc;
}
p.date-title{
    font-size: .9em;
    font-family: interMedium;
    color: var(--title);
}
p.rover-earth-date, p.rover-launch-date, p.rover-landing-date{
    font-size: .9em;
    font-family: interMedium;
    color: var(--bodyText);
}
#roverPhoto{
    width: 100%;
}
//-----------FOOTER----------//
footer{
    height: fit-content;
    background: var(--footer);
}
.footer-content{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 5vh 5vh 10vh 5vh;
    gap: 36px;
}
.site-info{
    height: fit-content;
    width: 100%;
}
.global-links{
    width: 100%;
}
p.si-text{
    width: fit-content;
}
p.global-link-text{
    font-size: 1em;
    font-family: geistMonoRegular;
}
//-----------MEDIA QUERIES----------//
@media only screen and (min-width: 0px) and (max-width: 970px) {
    .header-content .page-link-container{
        display: none;
    }
    .page-link-container{
        flex-direction: column;
    }
    .mobile-nav-dropdown{
        display: grid;
        place-items: center;
    }
    .bi-chevron-compact-down{
        fill: var(--title);
    }
    .dropdown-menu{
        position: fixed;
        top: 49px;
        left: 0;
        width: 100%;
        background: var(--header);
        backdrop-filter: blur(24px) saturate(100%);
        overflow: hidden;
        padding-inline: 16px;
    }
    .dropdown-menu[aria-hidden="false"]{
        height: calc(100vh - 50px);
        padding: 16px;
    }
    .dropdown-menu[aria-hidden="true"]{
        height: 0;
    }
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
    p.site-description{
        font-size: 1.8em;
    }
    p.api-provider{
        font-size: 1.2em;
    }
    h2{
        font-size: 1.5em;
    }
    .hero[aria-page="rover"]{
        background: linear-gradient(to bottom, #ffffff00, #050505), url(../bg/hero-mars.webp);
        background-position: 90% 50%;
    }
    .apod-page{
        background: linear-gradient(to bottom, #00000000, #000000ee), url(../bg/hubble.jpg);
        background-position: 30% 50%;
    }
    .mrp-page{
        background: linear-gradient(to bottom, #ffffff00, #050505), url(../bg/hero-mars.webp);
        background-position: 90% 50%;
    }
    p.page-title{
        font-size: 1.3em;
    }
    .home-nav i{
        font-size: 1.3em;
    }
    .footer-content{
        flex-direction: column;
        align-items: center;
    }
    p.si-text{
        text-align: center;
        width: 100%
    }
    li.link-list-item{
        text-align: center;
    }
}
@media only screen and (min-width: 0px) and (max-width: 800px) {
    body, html{
        scroll-behavior: smooth; /* Makes normal scrolling smooth */
        background: var(--bodyBackground);
        min-height: 100svh;
        // background: #ff0000; background-image: radial-gradient(at 20.0% 37.8%, #c70000 0px, transparent 50%),radial-gradient(at 67.2% 60.3%, #a30000 0px, transparent 50%),radial-gradient(at 13.5% 78.8%, #940000 0px, transparent 50%),radial-gradient(at 102.7% 27.9%, #e04c4c 0px, transparent 50%),radial-gradient(at 64.0% 39.4%, #610000 0px, transparent 50%),radial-gradient(at 77.1% 87.4%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 2.0% 21.0%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 32.1% 66.0%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 39.6% 65.1%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 29.8% 35.3%, hsl(0, 100%, 33%) 0px, transparent 50%)
    }
    .header-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        gap: 0;
    }
    p.site-description{
        letter-spacing: -.03em;
    }
    main{
        padding-inline: 16px;
    }
    section.content-section{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-inline: 0;
    }
    .api-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    img.apod-img{
        // border-radius: inherit;
        width: 100%;
        height: auto;
    }
    img.historic-apod-img{
        // border-radius: inherit;
        width: 100%;
        height: auto;
    }
    #otherApods{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
    .rover-content{
        flex-direction: column-reverse;
    }
    .img-container{
        width: 100%;
        max-width: 100%;
    }
    .apod-explan-popup{
        height: 100dvh;
    }
    .explan-container{
        width: 100%;
    }
    p.explanation{
        font-size: .9em;
        color: var(--bodyText);
    }
}
@media only screen and (min-width: 1400px) and (max-width: 3000px) {
    
}