*, *::before, *::after {
  box-sizing: border-box; /* Set the sizing of an element to include it's border */
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: unset;
}

* {
  margin: 0; /* Set the default margin to 0 */
  padding: 0; /* Set the default padding to 0 */
}

ul[role=list], ol[role=list] {
  list-style: none; /* Turn off numbered and unordered list decoration */
}

html:focus-within {
  scroll-behavior: smooth; /* Make the scrolling inside of any scrollable element smooth */
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto; /* Makes link undelines look better */
}

a {
  all: unset;
  cursor: pointer;
}

img, picture, svg, video, canvas {
  max-width: 100%; /* Makes it responsive */
  height: auto; /* Makes it responsive */
  vertical-align: middle; /* Makes text next to inline images look better */
  font-style: italic; /* If the images don't load it makes the alt decription look better */
  background-repeat: no-repeat;
  /* The background repeat and size are there if you want to load a picture first like a backroung image that is worse quality while the better quality image loads */
  background-size: cover;
}

input, button, textarea, select {
  font: inherit; /* Makes these elements inherit fonts */
}

body, html {
  scroll-behavior: smooth; /* Makes normal scrolling smooth */
  background: var(--bodyBackground);
  min-height: 100vh;
}

:root {
  --bodyBackground: #f6f6f6;
  --fetch: #000000;
  --footer: #ffffff;
  --title: #000;
  --lightDarkBtns: #131313;
  --bodyText: #131313;
  --highlightedText: #000;
  --fetchText: #ffffff;
  --dataActiveOutline: 1px solid #e4e4e4;
}

.darkmode {
  --bodyBackground: #050505;
  --fetch: #1a1a1a;
  --footer: #070707;
  --title: #f6f6f6;
  --lightDarkBtns: #ababab;
  --bodyText: #ababab;
  --highlightedText: #f6f6f6;
  --fetchText: #e0e0e0;
  --dataActiveOutline: 1px solid #646464;
}

.page-content {
  height: 100%;
  width: 100%;
}

header {
  height: -moz-fit-content;
  height: fit-content;
  padding: 10vh 16px;
  background: linear-gradient(to bottom, rgba(245, 66, 66, 0.432), rgba(66, 4, 4, 0.432), var(--bodyBackground)), url(../bg/starrysky.jpg);
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 32px;
}

.page-link-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.page-links {
  border-radius: 4px;
  padding: 8px 16px;
  background: var(--fetch);
  color: var(--fetchText);
  font-family: interSemiBold;
  width: -moz-fit-content;
  width: fit-content;
}

.header-name {
  text-align: center;
}

.title {
  height: -moz-fit-content;
  height: fit-content;
}

h1 {
  font-size: 3.5em;
  font-family: interBold;
  color: var(--title);
  letter-spacing: -0.03em;
}

p.title-description {
  font-size: 1.5em;
  font-family: interMedium;
  color: var(--title);
  letter-spacing: -0.03em;
}

.light-dark-mode-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  height: 30px;
}

button.light-dark {
  border: none;
  background: none;
  color: var(--lightDarkBtns);
  font-size: 24px;
  cursor: pointer;
}

main {
  padding: 16px;
  min-height: calc(100vh - 50px);
}

.main-content {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}

section.content-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 66%;
  padding: 16px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.intro-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h2 {
  font-size: 1.75em;
  font-family: interSemiBold;
  color: var(--title);
}

p.intro-description {
  font-size: 0.9em;
  font-family: interRegular;
  color: var(--bodyText);
}

.fetch-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

p.control-label {
  font-size: 0.9em;
  font-family: interRegular;
  color: var(--bodyText);
}

.controls {
  display: flex;
  align-items: center;
  gap: 4px;
}

input[type=date] {
  background: var(--fetch);
  border-radius: 4px;
  font-family: interMedium;
  padding: 8px;
  color: var(--fetchText);
  border: none;
  height: 36px;
}

input.data-range:focus {
  outline: var(--dataActiveOutline);
}

button.fetch-data {
  background: var(--fetch);
  border-radius: 4px;
  font-family: interMedium;
  padding: 8px;
  color: var(--fetchText);
  border: none;
  cursor: pointer;
  height: 36px;
}

.apod-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.img-container {
  border-radius: 10px;
}

.spinner {
  display: none;
  height: 300px;
  width: 100%;
}

.spinner-items {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.spinner-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.spinner-icon i {
  background: conic-gradient(#b4b4b4, #525252);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  animation: spinner 1.5s infinite linear;
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
p.spinner-text {
  font-size: 1em;
  color: var(--title);
  font-family: geistMonoRegular;
}

img {
  border-radius: inherit;
  width: 100%;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
  display: none;
}

.explan-container {
  width: 100%;
}

p.explanation-title {
  font-size: 1.2em;
  font-family: interSemiBold;
  color: var(--title);
  margin-bottom: 4px;
}

p.explanation {
  font-size: 0.9em;
  font-family: interRegular;
  color: var(--bodyText);
}

.rover-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

#roverPhoto {
  border-radius: inherit;
}

.rover-explan-container {
  display: flex;
  gap: 6px;
}

li.date-container {
  display: flex;
  gap: 4px;
  list-style-type: disc;
}

p.date-title, p.rover-earth-date, p.rover-launch-date, p.rover-landing-date {
  font-size: 0.9em;
  font-family: interRegular;
  color: var(--bodyText);
}

footer {
  height: -moz-fit-content;
  height: fit-content;
  background: var(--footer);
}

.footer-content {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 5vh;
}

.site-info {
  height: -moz-fit-content;
  height: fit-content;
}

p.si-text {
  font-size: 1em;
  font-family: geistMonoRegular;
  color: var(--bodyText);
}

@media only screen and (min-width: 0px) and (max-width: 800px) {
  body, html {
    scroll-behavior: smooth; /* Makes normal scrolling smooth */
    background: var(--bodyBackground);
    min-height: 100svh;
  }
  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 32px;
  }
  h1 {
    font-size: 2.5em;
    font-family: interBold;
    color: var(--title);
    letter-spacing: -0.03em;
  }
  .page-link-container {
    flex-wrap: wrap;
  }
  p.title-description {
    font-size: 1em;
    color: var(--title);
    letter-spacing: -0.03em;
  }
  section.content-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */