*, *::before, *::after {
  box-sizing: border-box; /* Set the sizing of an element to include it's border */
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-weight: unset;
}

* {
  margin: 0; /* Set the default margin to 0 */
  padding: 0; /* Set the default padding to 0 */
  transition: all 0.4s;
}

ul[role=list], ol[role=list] {
  list-style: none; /* Turn off numbered and unordered list decoration */
}

html:focus-within {
  scroll-behavior: smooth; /* Make the scrolling inside of any scrollable element smooth */
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto; /* Makes link undelines look better */
}

a {
  all: unset;
  cursor: pointer;
}

button {
  all: unset;
}

img, picture, svg, video, canvas {
  max-width: 100%; /* Makes it responsive */
  height: auto; /* Makes it responsive */
  vertical-align: middle; /* Makes text next to inline images look better */
  font-style: italic; /* If the images don't load it makes the alt decription look better */
  background-repeat: no-repeat;
  /* The background repeat and size are there if you want to load a picture first like a backroung image that is worse quality while the better quality image loads */
  background-size: cover;
}

input, button, textarea, select {
  font: inherit; /* Makes these elements inherit fonts */
  border: none;
  border-radius: 0;
}

body, html {
  scroll-behavior: smooth; /* Makes normal scrolling smooth */
  background: var(--bodyBackground);
  min-height: 100vh;
}

:root {
  --bodyBackground: #050505;
  --header: #0f0f0f;
  --fetch: /*linear-gradient(270deg, #121212, #1e1e1e)*/ #002da7;
  --popup: #050505;
  --footer: #070707;
  --title: #f6f6f6;
  --lightDarkBtns: #ababab;
  --bodyText: #e4e4e4;
  --highlightedText: #f6f6f6;
  --fetchText: #e0e0e0;
  --link: #e0e0e0;
  --linkHover: #bbbbbb;
  --dataActiveOutline: 1px solid #646464;
}

.lightmode {
  --bodyBackground: #f1f1f1;
  --header: #fafafa;
  --fetch: /*linear-gradient(270deg, #121212, #1e1e1e)*/ #002da7;
  --popup: #ececec;
  --footer: #ececec;
  --title: #1b1b1b;
  --lightDarkBtns: #2b2b2b;
  --bodyText: #202020;
  --highlightedText: #1b1b1b;
  --fetchText: #e4e4e4;
  --link: #202020;
  --linkHover: #3d3d3d;
  --dataActiveOutline: 1px solid #646464;
}

.page-content {
  height: 100%;
  width: 100%;
}

header {
  height: 50px;
  background: var(--header);
  padding-inline: 16px;
  position: sticky;
  top: 0;
  -webkit-backdrop-filter: blur(24px) saturate(100%);
          backdrop-filter: blur(24px) saturate(100%);
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 32px;
}

.page-link-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.page-links {
  border-radius: 4px;
  padding: 8px 16px;
  color: var(--link);
  font-family: interSemiBold;
  width: -moz-fit-content;
  width: fit-content;
  transition: all 0.1s;
}

.page-links:hover {
  color: var(--linkHover);
  transition: all 0.1s;
}

p[id=newsboard] {
  color: #5dff44;
}

.title {
  height: -moz-fit-content;
  height: fit-content;
}

h1 {
  font-size: 1.5em;
  font-family: interMedium;
  color: var(--title);
  letter-spacing: -0.03em;
}

.light-dark-mode {
  display: flex;
  align-items: center;
  gap: 12px;
}

button.light-dark {
  border: none;
  background: none;
  color: var(--lightDarkBtns);
  font-size: 24px;
  cursor: pointer;
  display: grid;
  place-items: center;
}

.mobile-nav-dropdown {
  display: none;
}

.dropdown-menu {
  height: 0;
  overflow: hidden;
}

.hero {
  background-size: cover;
  background-position: 100% 40%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  padding: 32px;
  height: 300px;
}

.hero[aria-page=home] {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #050505), url(../bg/hero-home.png);
}

.hero[aria-page=apod] {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #050505), url(../bg/hero-apod.jpg);
}

.hero[aria-page=rover] {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #050505), url(../bg/hero-mars.webp);
  background-position: 100% 50%;
}

p.site-description {
  font-size: 2.5em;
  font-family: interBold;
  color: #f6f6f6;
  letter-spacing: -0.03em;
  text-align: center;
}

main {
  padding: 32px;
  min-height: calc(100vh - 50px);
}

.main-content {
  display: flex;
  gap: 48px;
  flex-direction: column;
  align-items: center;
}

section.content-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding-inline: 15vw;
}

.section-title {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h2 {
  font-size: 1.75em;
  font-family: interMedium;
  color: var(--title);
  letter-spacing: -0.02em;
}

p.intro-description {
  font-size: 1em;
  font-family: interRegular;
  color: var(--bodyText);
}

.api-controls {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

p.control-label {
  font-size: 1em;
  font-family: interMedium;
  color: var(--bodyText);
}

.control-container {
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input-row {
  display: flex;
  flex-direction: row;
  gap: 4px;
  height: 36px;
}

input[type=date] {
  background: var(--fetch);
  font-family: interMedium;
  padding: 8px;
  color: var(--fetchText);
  height: 34px;
}

input.data-range:focus {
  outline: var(--dataActiveOutline);
}

input#countValue {
  background: var(--fetch);
  font-family: interMedium;
  padding: 8px;
  color: var(--fetchText);
  height: 34px;
}

input#search-bar {
  background: var(--fetch);
  font-family: interMedium;
  padding: 8px;
  color: var(--fetchText);
  height: 34px;
}

button.fetch-data {
  background: var(--fetch);
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  height: 34px;
  font-size: 20px;
  color: var(--fetchText);
  cursor: pointer;
}

button#search-button {
  background: var(--fetch);
  display: grid;
  place-items: center;
  aspect-ratio: 1;
  height: 34px;
  font-size: 20px;
  color: var(--fetchText);
  cursor: pointer;
}

button.apodPopupBtn[aria-toggle=open] {
  background: var(--fetch);
  aspect-ratio: 1;
  height: 34px;
  color: var(--fetchText);
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: grid;
  place-items: center;
}

.api-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#otherApods {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  gap: 8px;
  width: 100%;
}

#otherApods img {
  grid-area: auto;
}

.img-container {
  border-radius: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  place-items: center;
}

.spinner {
  display: none;
  height: 300px;
  width: 100%;
  grid-area: 1/1/2/2;
}

.spinner-items {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.spinner-animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.spinner-icon i {
  background: conic-gradient(#b4b4b4, #525252);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  animation: spinner 1.5s infinite linear;
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
p.spinner-text {
  font-size: 1em;
  color: var(--title);
  font-family: geistMonoRegular;
}

img.apod-img {
  width: 75vw;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
  display: none;
  grid-area: 1/1/2/2;
}

.apod-explan-popup {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  place-items: center;
  -webkit-backdrop-filter: blur(14px) saturate(100%);
          backdrop-filter: blur(14px) saturate(100%);
  padding-inline: 8px;
}

.apod-explan-popup[aria-hidden=true] {
  display: none;
}

.apod-explan-popup[aria-hidden=false] {
  display: grid;
}

.explan-container {
  background: var(--popup);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rover-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.apod-explan-container {
  width: 66%;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p.explanation-title {
  font-size: 1.2em;
  font-family: interMedium;
  color: var(--title);
  margin-bottom: 4px;
}

button.apodPopupBtn[aria-toggle=close] {
  color: #a8a8a8;
  display: grid;
  place-items: center;
  font-size: 1.5em;
}

p.apod-title {
  font-size: 1.2em;
  font-family: interMedium;
  color: var(--title);
  margin-bottom: 4px;
  text-align: center;
}

p.explanation {
  font-size: 1em;
  font-family: interRegular;
  color: var(--bodyText);
}

li.date-container {
  display: flex;
  gap: 4px;
  list-style-type: disc;
}

p.date-title {
  font-size: 0.9em;
  font-family: interMedium;
  color: var(--title);
}

p.rover-earth-date, p.rover-launch-date, p.rover-landing-date {
  font-size: 0.9em;
  font-family: interMedium;
  color: var(--bodyText);
}

#roverPhoto {
  width: 100%;
}

footer {
  height: -moz-fit-content;
  height: fit-content;
  background: var(--footer);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 5vh;
}

.site-info {
  height: -moz-fit-content;
  height: fit-content;
}

p.si-text {
  font-size: 1em;
  font-family: geistMonoRegular;
  color: var(--bodyText);
}

@media only screen and (min-width: 0px) and (max-width: 970px) {
  .header-content .page-link-container {
    display: none;
  }
  .page-link-container {
    flex-direction: column;
  }
  .mobile-nav-dropdown {
    display: grid;
    place-items: center;
  }
  .bi-chevron-compact-down {
    fill: var(--title);
  }
  .dropdown-menu {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background: var(--header);
    -webkit-backdrop-filter: blur(24px) saturate(100%);
            backdrop-filter: blur(24px) saturate(100%);
    overflow: hidden;
    padding-inline: 16px;
  }
  .dropdown-menu[aria-hidden=false] {
    height: calc(100vh - 50px);
    padding: 16px;
  }
  .dropdown-menu[aria-hidden=true] {
    height: 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 800px) {
  body, html {
    scroll-behavior: smooth; /* Makes normal scrolling smooth */
    background: var(--bodyBackground);
    min-height: 100svh;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 0;
  }
  p.site-description {
    letter-spacing: -0.03em;
  }
  main {
    padding-inline: 16px;
  }
  section.content-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-inline: 0;
  }
  .api-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  img.apod-img {
    width: 100%;
    height: auto;
  }
  #otherApods {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
  .rover-content {
    flex-direction: column-reverse;
  }
  .img-container {
    width: 100%;
    max-width: 100%;
  }
  .apod-explan-popup {
    height: 100dvh;
  }
  .explan-container {
    width: 100%;
  }
  p.explanation {
    font-size: 0.9em;
    color: var(--bodyText);
  }
}/*# sourceMappingURL=main.css.map */