//----------CSS RESET----------//
*, *::before, *::after{
    box-sizing: border-box; /* Set the sizing of an element to include it's border */
    user-select: none;
    font-weight: unset;
}
br{
    display: none;
}
*{
    margin: 0; /* Set the default margin to 0 */
    padding: 0; /* Set the default padding to 0 */
    transition: all .2s, color 0s;
}

ul[role='list'], ol[role='list']{
    list-style: none; /* Turn off numbered and unordered list decoration */
}
li{
    list-style-type: none;
}

html:focus-within{
    scroll-behavior: smooth; /* Make the scrolling inside of any scrollable element smooth */
}

a:not([class]){
    text-decoration-skip-ink: auto; /* Makes link undelines look better */
}
a{
    all: unset;
    cursor: pointer;
    font-family: interMedium;
    color: var(--link);
}
a:hover{
    text-decoration: underline #ff6d0b;
    color: var(--linkHover);
}
button{
    all: unset;
}
img, picture, svg, video, canvas{
    max-width: 100%; /* Makes it responsive */
    height: auto; /* Makes it responsive */
    vertical-align: middle; /* Makes text next to inline images look better */
    font-style: italic; /* If the images don't load it makes the alt decription look better */
    background-repeat: no-repeat; 
    /* The background repeat and size are there if you want to load a picture first like a backroung image that is worse quality while the better quality image loads */
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; /* Makes these elements inherit fonts */
    border: none;
    border-radius: 0;
    cursor: pointer;
}

body, html{
    scroll-behavior: smooth; /* Makes normal scrolling smooth */
    background: var(--bodyBackground);
    min-height: 100vh;
    // background: #ff0000; background-image: radial-gradient(at 20.0% 37.8%, #c70000 0px, transparent 50%),radial-gradient(at 67.2% 60.3%, #a30000 0px, transparent 50%),radial-gradient(at 13.5% 78.8%, #940000 0px, transparent 50%),radial-gradient(at 102.7% 27.9%, #e04c4c 0px, transparent 50%),radial-gradient(at 64.0% 39.4%, #610000 0px, transparent 50%),radial-gradient(at 77.1% 87.4%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 2.0% 21.0%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 32.1% 66.0%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 39.6% 65.1%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 29.8% 35.3%, hsl(0, 100%, 33%) 0px, transparent 50%)
}

//----------------COLOURS----------------//
:root{
    --bodyBackground: #050505;
    --header: #0f0f0f;
    --intro: linear-gradient(to bottom, rgba(5, 5, 5, 0.6392156863), #050505), linear-gradient(to right, #ff840b, #9700bd);
    --fetch: /*linear-gradient(270deg, #121212, #1e1e1e)*/ #ff6d0b;
    --info: #0f0f0f;
    --footer: #070707;


    --title: #cacaca;
    --heroText: #cacacacc;
    --lightDarkBtns: #ababab;
    --bodyText: #e4e4e4;
    --highlightedText: #f6f6f6;
    --fetchText: #e0e0e0;
    --link: #a8a8a8;
    --linkHover: #f3f3f3;


    --dataTable: 1px solid #272727;
}
.lightmode{
    --bodyBackground: #f1f1f1;
    --header: #ffffff;
    --intro: linear-gradient(to bottom, rgba(255, 255, 255, 0), #f1f1f1), linear-gradient(to right, #ff6d0b, #ff8801);
    --fetch: /*linear-gradient(270deg, #121212, #1e1e1e)*/ #ff6d0b;
    --info: #ececec;
    --footer: #ececec;


    --title: #1b1b1b;
    --heroText: #ffffffcc;
    --lightDarkBtns: #2b2b2b;
    --bodyText: #202020;
    --highlightedText: #1b1b1b;
    --fetchText: #e4e4e4;
    --link: #202020;
    --linkHover: #3d3d3d;


    --dataTable: 1px solid #d8d8d8;
}
.page-content{
    height: 100%;
    width: 100%;
}
//-----------HEADER----------//
header{
    height: 50px;
    background: var(--header);
    padding-inline: 16px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(24px) saturate(100%);

    .header-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        gap: 32px;

        .header-name{
            display: flex;
            gap: 2px;
            align-items: center;

            .logo{
                height: 30px;
                aspect-ratio: 1;
                #mdi-space-station{
                    height: 100%;
                    width: auto;
                    fill: var(--fetch);
                }
            }
        }
    }
}

.page-link-container{
    display: flex;
    align-items: center;
    gap: 8px;

    .page-links{
        border-radius: 4px;
        padding: 8px 16px;
        width: fit-content;
        transition: all .1s;
    }
}

.title{
    height: fit-content;
}
.light-dark-mode{
    display: flex;
    gap: 12px;
    height: fit-content;

    button.light-dark{
        border: none;
        background: none;
        color: var(--lightDarkBtns);
        font-size: 24px;
        cursor: pointer;
        display: grid;
        place-items: center;
    }
}

.mobile-nav-dropdown{
    display: none;
}
.dropdown-menu{
    height: 0;
    overflow: hidden;
}
.to-top-btn{
    display: none;
    background: var(--bodyBackground);
    position: fixed;
    top: calc(100vh - 48px);
    right: 16px;
    border: var(--fetch) 1px solid;
    align-items: center;

    p.to-top-label{
        font-size: 1em;
        font-family: interSemiBold;
        color: var(--bodyText);
        padding-inline: 6px;
    }

    button.to-top{
        display: grid;
        place-items: center;
        background: var(--fetch);
        height: 36px;
        aspect-ratio: 1;
        color: var(--fetchText);
        font-size: 20px;
    }
}
//-----------MAIN----------//
.hero{
    background-size: cover;
    background-position: 100% 40%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 32px;
    height: 300px;
    background: var(--intro);

    p.site-description{
        font-size: 2.5em;
        font-family: interBold;
        color: var(--heroText);
        letter-spacing: -.03em;
        text-align: center;
    }
}
main{
    padding: 32px;

    .main-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

//-----------SECTION----------//
.section-title{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
section.content-section{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding-inline: 15vw;
}
//-----------TEXT----------//
h1{
    font-size: 1.5em;
    font-family: interBold;
    color: var(--title);
    letter-spacing: -.03em;
}
h2 {
    font-size: 1.75em;
    font-family: interSemiBold;
    color: var(--title);
    letter-spacing: -.02em;
    margin-top: 75px;
}
//-----------APODS----------//
.api-controls{
    display: flex;
    flex-direction: column;
    gap: 8px;

    .control-container{
        gap: 8px;
        display: flex;
        flex-direction: column;

        p.control-label{
            font-size: 1em;
            font-family: interRegular;
            color: var(--bodyText);
        }
        .controls{
            display: flex;
            flex-direction: column;
            gap: 4px;

            .input-row{
                display: flex;
                flex-direction: row;
                gap: 4px;
                height: 36px;

                input{
                    background: var(--info);
                    border: var(--fetch) 1px solid;
                    font-family: interRegular;
                    padding: 8px;
                    color: var(--bodyText);
                    height: 34px;
                }
                input.data-range:focus{
                    outline: var(--dataActiveOutline);
                }
                button.fetch-data{
                    background: var(--fetch);
                    display: grid;
                    place-items: center;
                    aspect-ratio: 1;
                    height: 34px;
                    font-size: 20px;
                    color: var(--fetchText);
                    cursor: pointer;
                }
            }
        }
    }
}
.api-content{
    display: flex;
    flex-direction: column;
    gap: 8px;

    .img-container{
    border-radius: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    place-items: center;

    .spinner {
    display: none;
    height: 300px;
    width: 100%;
    grid-area: 1 / 1 / 2 / 2;

    .spinner-items{
        height: 100%;
        width: 100%;
        display: grid;
        place-items: center;

        .spinner-animation{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            p.spinner-text{
                font-size: 1em;
                color: var(--title);
                font-family: interRegular;
            }

            .spinner-icon i{
                background: conic-gradient(#b4b4b4, #525252);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 2em;
                animation: spinner 1.5s infinite linear;
            }
        }
    }
}
    iframe{
        width: 100%;
        aspect-ratio: 16 / 9;
        display: none;
        grid-area: 1 / 1 / 2 / 2;
    }
}
@keyframes spinner{
    from{
        transform: rotate(0);
    } to {
        transform: rotate(360deg);
    }
}
}
#otherApods{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    gap: 8px;
    width: 100%;

    #otherApods img{
        grid-area: auto;
    }
}


.data-table{
    width: 100%;
    padding: 6px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: var(--fetch) 1px solid;
    background: var(--info);

    p.apod-title, p.historic-apod-title{
        text-align: center;
        font-family: interMedium;
        font-size: 1em;
        color: var(--title);
    }
    p.explanation, p.historic-explanation{
        font-size: 1em;
        font-family: interRegular;
        color: var(--bodyText);
        text-align: center;
        padding: 8px;
    }
}
.info-accordion{
    width: 100%;
    display: flex;
    flex-direction: column;

    .accordion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        background: var(--info);
        height: 36px;
        border-bottom: var(--dataTable);
    
        p.question{
            font-size: 1em;
            font-family: interMedium;
            color: var(--bodyText);
        }

        i{
            font-size: 1.25em;
            color: var(--bodyText);
        }
    }
    .accordion-panel {
        overflow: hidden;
        max-height: 0;
        transition: all .2s ease-in-out;
        width: 100%;
        padding-inline: 16px;

        p{
            font-size: 1em;
            color: var(--bodyText);
            font-family: interRegular;
        }
    }
}
.accordion.active i{
    transform: rotate(180deg);
    transform-origin: center;
}

//-----------FOOTER----------//
footer{
    height: fit-content;
    background: var(--footer);

    .footer-content{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        padding: 5vh 5vh 10vh 5vh;
        gap: 36px;

        .site-info{
            height: fit-content;
            width: 100%;
        
            p.si-text{
                font-size: 1em;
                font-family: interRegular;
                color: var(--link);
            }
        }

        .global-links{
            width: 100%;
    
            p.global-link-text{
                font-size: 1em;
                font-family: interRegular;
            }
        }
    }
}
//-----------MEDIA QUERIES----------//
@media only screen and (min-width: 0px) and (max-width: 970px) {
    .header-content .page-link-container{
        display: none;
    }
    .page-link-container{
        flex-direction: column;
    }
    .mobile-nav-dropdown{
        display: grid;
        place-items: center;

        .bi-chevron-compact-down{
            fill: var(--title);
        }
    }
    
    .dropdown-menu{
        position: fixed;
        top: 49px;
        left: 0;
        width: 100%;
        background: var(--header);
        backdrop-filter: blur(24px) saturate(100%);
        overflow: hidden;
        padding-inline: 16px;
    }
    .dropdown-menu[aria-hidden="false"]{
        height: fit-content;
        padding: 16px;
    }
    .dropdown-menu[aria-hidden="true"]{
        height: 0;
    }
    .to-top-btn{
        top: calc(100svh - 48px);
    }
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
    p.site-description{
        font-size: 1.8em;
    }
    p.api-provider{
        font-size: 1.2em;
    }
    h2{
        font-size: 1.5em;
    }
    p.page-title{
        font-size: 1.3em;
    }
    .home-nav i{
        font-size: 1.3em;
    }
    footer{
        .footer-content{
            flex-direction: column;
            align-items: center;
        }
    }
    p.si-text{
        text-align: center;
        width: 100%
    }
    li.link-list-item{
        text-align: center;
    }
}
@media only screen and (min-width: 0px) and (max-width: 800px) {
    body, html{
        scroll-behavior: smooth; /* Makes normal scrolling smooth */
        background: var(--bodyBackground);
        min-height: 100svh;
        // background: #ff0000; background-image: radial-gradient(at 20.0% 37.8%, #c70000 0px, transparent 50%),radial-gradient(at 67.2% 60.3%, #a30000 0px, transparent 50%),radial-gradient(at 13.5% 78.8%, #940000 0px, transparent 50%),radial-gradient(at 102.7% 27.9%, #e04c4c 0px, transparent 50%),radial-gradient(at 64.0% 39.4%, #610000 0px, transparent 50%),radial-gradient(at 77.1% 87.4%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 2.0% 21.0%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 32.1% 66.0%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 39.6% 65.1%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 29.8% 35.3%, hsl(0, 100%, 33%) 0px, transparent 50%)
    }
    .header-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        gap: 0;
    }
    p.site-description{
        letter-spacing: -.03em;
    }
    main{
        padding-inline: 16px;
    }
    section.content-section{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-inline: 0;
    }
    .api-content{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    img.apod-img{
        // border-radius: inherit;
        width: 100%;
        height: auto;
    }
    img.historic-apod-img{
        // border-radius: inherit;
        width: 100%;
        height: auto;
    }
    #otherApods{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }
    .img-container{
        width: 100%;
        max-width: 100%;
    }
}
@media only screen and (min-width: 1400px) and (max-width: 3000px) {
    
}