//----------CSS RESET----------//
*, *::before, *::after{
    box-sizing: border-box; /* Set the sizing of an element to include it's border */
    user-select: none;
    font-weight: unset;
}
br{
    display: none;
}
*{
    margin: 0; /* Set the default margin to 0 */
    padding: 0; /* Set the default padding to 0 */
    transition: all .2s, color 0s;
}

ul[role='list'], ol[role='list']{
    list-style: none; /* Turn off numbered and unordered list decoration */
}
li{
    list-style-type: none;
}

html:focus-within{
    scroll-behavior: smooth; /* Make the scrolling inside of any scrollable element smooth */
}

a:not([class]){
    text-decoration-skip-ink: auto; /* Makes link undelines look better */
}
a{
    all: unset;
    cursor: pointer;
    font-family: interMedium;
    color: var(--link);
}
a:hover{
    text-decoration: underline #ff6d0b;
    color: var(--linkHover);
}
button{
    all: unset;
}
img, picture, svg, video, canvas{
    max-width: 100%; /* Makes it responsive */
    height: auto; /* Makes it responsive */
    vertical-align: middle; /* Makes text next to inline images look better */
    font-style: italic; /* If the images don't load it makes the alt decription look better */
    background-repeat: no-repeat; 
    /* The background repeat and size are there if you want to load a picture first like a backroung image that is worse quality while the better quality image loads */
    background-size: cover;
}

input, button, textarea, select{
    font: inherit; /* Makes these elements inherit fonts */
    border: none;
    border-radius: 0;
    cursor: pointer;
}

body, html{
    scroll-behavior: smooth; /* Makes normal scrolling smooth */
    background: var(--bodyBackground);
    min-height: 100vh;
    // background: #ff0000; background-image: radial-gradient(at 20.0% 37.8%, #c70000 0px, transparent 50%),radial-gradient(at 67.2% 60.3%, #a30000 0px, transparent 50%),radial-gradient(at 13.5% 78.8%, #940000 0px, transparent 50%),radial-gradient(at 102.7% 27.9%, #e04c4c 0px, transparent 50%),radial-gradient(at 64.0% 39.4%, #610000 0px, transparent 50%),radial-gradient(at 77.1% 87.4%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 2.0% 21.0%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 32.1% 66.0%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 39.6% 65.1%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 29.8% 35.3%, hsl(0, 100%, 33%) 0px, transparent 50%)
}

//----------------COLOURS----------------//
:root{
    --bodyBackground: #050505;
    --header: #050505;
    --intro: linear-gradient(to top, rgba(5, 5, 5, 0.6392156863), var(--footer)), linear-gradient(to right, #7fff00,#ff00ff,#7fff00);
    --fetch: /*linear-gradient(270deg, #121212, #1e1e1e)*/ #1c1c1c;
    --info: #0f0f0f;
    --footer: #070707;


    --title: #cacaca;
    --heroText: #cacacaa3;
    --lightDarkBtns: #ababab;
    --bodyText: #e4e4e4;
    --highlightedText: #f6f6f6;
    --fetchText: #e0e0e0;
    --link: #a8a8a8;
    --linkHover: #f3f3f3;


    --dataTable: 1px solid #272727;
}
.lightmode{
    --bodyBackground: #f1f1f1;
    --header: #f1f1f1;
    --intro: linear-gradient(to top, rgba(255, 255, 255, 0), var(--footer)), linear-gradient(to right, #7fff00,#ff00ff,#7fff00);
    --fetch: /*linear-gradient(270deg, #121212, #1e1e1e)*/ #dddddd;
    --info: #ececec;
    --footer: #ececec;


    --title: #1b1b1b;
    --heroText: #ffffffa0;
    --lightDarkBtns: #2b2b2b;
    --bodyText: #202020;
    --highlightedText: #1b1b1b;
    --fetchText: #2a2a2a;
    --link: #202020;
    --linkHover: #3d3d3d;


    --dataTable: 1px solid #d8d8d8;
}
.page-content{
    height: 100%;
    width: 100%;
}
//-----------HEADER----------//
header{
    height: 50px;
    background: var(--header);
    padding-inline: 16px;
    backdrop-filter: blur(24px) saturate(100%);

    .header-content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        gap: 32px;

        .header-name{
            display: flex;
            gap: 2px;
            align-items: center;

            .logo{
                height: 30px;
                aspect-ratio: 1;
                #mdi-space-station{
                    height: 100%;
                    width: auto;
                    fill: #3c42f5;
                }
            }
        }
    }
}

.page-link-container{
    display: flex;
    align-items: center;
    gap: 8px;

    .page-links{
        border-radius: 4px;
        padding: 8px 16px;
        width: fit-content;
        transition: all .1s;
    }
}

.title{
    height: fit-content;
}
.light-dark-mode{
    display: flex;
    gap: 12px;
    height: fit-content;

    button.light-dark{
        border: none;
        background: none;
        color: var(--lightDarkBtns);
        font-size: 24px;
        cursor: pointer;
        display: grid;
        place-items: center;
    }
}

.mobile-nav-dropdown{
    display: none;
}
.dropdown-menu{
    height: 0;
    overflow: hidden;
}
.to-top-btn{
    display: none;
    background: var(--bodyBackground);
    position: fixed;
    bottom: 24px;
    right: 16px;
    border: var(--fetch) 1px solid;
    align-items: center;

    p.to-top-label{
        font-family: interSemiBold;
        padding-inline: 6px;
    }

    button.to-top{
        display: grid;
        place-items: center;
        background: var(--fetch);
        height: 36px;
        aspect-ratio: 1;
        color: var(--fetchText);
        font-size: 20px;
    }
}
//-----------MAIN----------//
.hero{
    background-size: cover;
    background-position: 100% 40%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    padding: 32px;
    height: 300px;
    background: var(--intro);

    p.site-description{
        font-size: 2.5em;
        font-family: interBold;
        color: var(--heroText);
        letter-spacing: -.03em;
        text-align: center;
    }
}
main{
    padding: 32px;

    .main-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
}

//-----------SECTION----------//
section{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    padding-inline: 5vw;
}
.section-title{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.section-title.mobile{
    display: none;
}
//-----------TEXT----------//
h1{
    font-size: 1.5em;
    font-family: interBold;
    color: var(--title);
    letter-spacing: -.03em;
}
h2 {
    font-size: 2.75em;
    font-family: interSemiBold;
    color: var(--title);
    letter-spacing: -.02em;
}
p{
    font-size: 1em;
    font-family: interRegular;
    color: var(--bodyText);
}
p.control-label{
    font-family: interSemiBold;

}
//-----------APODS----------//
.api-controls{
    display: flex;
    flex-direction: column;
    gap: 8px;

    .control-container{
        gap: 8px;
        display: flex;
        flex-direction: column;

        .controls{
            display: flex;
            flex-direction: column;
            gap: 4px;

            .input-row{
                display: flex;
                flex-direction: row;
                gap: 4px;
                height: 36px;

                input{
                    background: var(--info);
                    border: var(--fetch) 1px solid;
                    font-family: interRegular;
                    padding: 8px;
                    color: var(--bodyText);
                    height: 34px;
                }
                input.data-range:focus{
                    outline: var(--dataActiveOutline);
                }
                button.fetch-data{
                    background: var(--fetch);
                    display: grid;
                    place-items: center;
                    aspect-ratio: 1;
                    height: 34px;
                    font-size: 20px;
                    color: var(--fetchText);
                    cursor: pointer;
                }
            }
        }
    }
}
.api-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    place-items: flex-start;
    gap: 36px;

    .media-container{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        .img-container{
            border-radius: 10px;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            place-items: center;
        
            img.apod-img,.past-apod-img{
                // border-radius: inherit;
                width: 100%;
                height: auto;
            }
        
            .spinner {
            display: none;
            height: 300px;
            width: 100%;
            grid-area: 1 / 1 / 2 / 2;
        
            .spinner-items{
                height: 100%;
                width: 100%;
                display: grid;
                place-items: center;
        
                .spinner-animation{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 8px;
        
                    .spinner-icon i{
                        background: conic-gradient(#b4b4b4, #525252);
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                        font-size: 2em;
                        animation: spinner 1.5s infinite linear;
                    }
                }
            }
        }
            iframe{
                width: 100%;
                aspect-ratio: 16 / 9;
                display: none;
                grid-area: 1 / 1 / 2 / 2;
            }
            }
            @keyframes spinner{
                from{
                    transform: rotate(0);
                } to {
                    transform: rotate(360deg);
                }
            }
    }
}
#otherApods{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    gap: 8px;
    width: 100%;

    #otherApods img{
        grid-area: auto;
    }
}


.image-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;

    p.apod-title, p.past-apod-title{
        color: var(--title);
    }
    p.explanation, p.past-explanation{
        color: var(--bodyText);
    }
}
.info-accordion{
    width: 100%;
    display: flex;
    flex-direction: column;

    .accordion{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;
        background: var(--info);
        height: 36px;
        border-bottom: var(--dataTable);
    
        p.question{
            font-family: interMedium;
            color: var(--bodyText);
        }

        i{
            font-size: 1.25em;
            color: var(--bodyText);
        }
    }
    .accordion-panel {
        overflow: hidden;
        max-height: 0;
        transition: all .2s ease-in-out;
        width: 100%;
        padding-inline: 16px;

        p{
            font-size: 1em;
            color: var(--bodyText);
            font-family: interRegular;
        }
    }
}
.accordion.active i{
    transform: rotate(180deg);
    transform-origin: center;
}

//-----------FOOTER----------//
footer{
    height: fit-content;
    background: var(--footer);

    .footer-content{
        display: flex;
        flex-direction: row;
        height: 100%;
        width: 100%;
        padding: 5vh 5vh 10vh 5vh;
        gap: 36px;

        .site-info{
            height: fit-content;
            width: 100%;
        
            p.si-text{
                color: var(--link);
            }
        }

        .global-links{
            width: 100%;
    
            p.global-link-text{
                font-size: 1em;
                font-family: interRegular;
            }
        }
    }
}
//-----------MEDIA QUERIES----------//


@media only screen and (min-width: 0px) and (max-width: 1000px) {
    body, html{
        scroll-behavior: smooth; /* Makes normal scrolling smooth */
        background: var(--bodyBackground);
        min-height: 100svh;
        // background: #ff0000; background-image: radial-gradient(at 20.0% 37.8%, #c70000 0px, transparent 50%),radial-gradient(at 67.2% 60.3%, #a30000 0px, transparent 50%),radial-gradient(at 13.5% 78.8%, #940000 0px, transparent 50%),radial-gradient(at 102.7% 27.9%, #e04c4c 0px, transparent 50%),radial-gradient(at 64.0% 39.4%, #610000 0px, transparent 50%),radial-gradient(at 77.1% 87.4%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 2.0% 21.0%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 32.1% 66.0%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 39.6% 65.1%, hsl(0, 100%, 33%) 0px, transparent 50%),radial-gradient(at 29.8% 35.3%, hsl(0, 100%, 33%) 0px, transparent 50%)
    }
    main{
        padding: 8px;
    }
    //----TEXT----//
    h2{
        font-size: 2em;
    }
    ///////////////
    header{
        height: 50px;
        background: var(--header);
        padding-inline: 16px;
        backdrop-filter: blur(24px) saturate(100%);
    
        .page-link-container{
            display: none;
        }
        .mobile-nav-dropdown{
            display: grid;

            .dropdown{
                svg{
                    fill: var(--title);
                }
            }
        }
    }
    .api-content{
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;

        .image-info{
            .section-title.desktop{
                display: none;
            }
        }

        .media-container{
            .section-title.mobile{
                display: block;
            }
        }
    }

    #otherApods{
        grid-template-columns: repeat(2, 1fr);
    }
}