@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul[role='list'], ol[role='list']{
  list-style: none;
}
li{
  list-style-type: none;
}
html:focus-within{
  scroll-behavior: smooth;
}
a:not([class]){
  text-decoration-skip-ink: auto;
}
img, picture, svg, video, canvas, iframe{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat; 
  background-size: cover;
}
iframe{
  width: 100%;
  aspect-ratio: 14 / 9;
}
input, button, textarea, select{
  border: none;
  cursor: pointer;
}








:root {
  // // --body: #fafafa;
  // --element: #ffffff;

  // --standout-text: #000;
  // --paragraph-text: #424242;

  // --border: 1px solid #ebebeb;
    --body: linear-gradient(to bottom, #00000062, #000000 180px), linear-gradient(to right, #00000000, #00000033, #00000000), linear-gradient(to right, #006cfa, #780074);
    --element: #050505d5;

    --standout-text: #fff;
    --paragraph-text: #b2b2b2;

    --border: 1px solid #141414;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body, html{
  scroll-behavior: smooth;
  min-height: 100vh;
  background: var(--body);
}
body{
  display: flex;
  flex-direction: column;
}






h1{
  font-size: clamp(2em, 3.5vw, 3em);
  font-weight: 600;
  letter-spacing: -.03em;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
h2{
  font-size: clamp(1.35em, 3.5vw, 1.85em);
  font-weight: 500;
  letter-spacing: -.03em;
  color: var(--standout-text);
}
h3{
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: -.03em;
  margin-bottom: 14px;
  color: var(--standout-text);
}
p{
  color: var(--paragraph-text);
}








header{
  background: var(--element);
  border-bottom: var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.glow-line{
  position: absolute;
  bottom: 0;
  background: linear-gradient(to right, transparent, #4000ffaf, transparent);
  height: 1px;
  width: 100%;
}
footer{
  margin-top: auto;
  padding: 56px;
  background: var(--element);
  border-top: var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  padding: 14px;
  
  p{
    font-size: 1.35em;
    font-weight: 600;
    letter-spacing: -.03em;
    color: var(--standout-text);
  }
}





main{
  z-index: 250;
}

.content{

  .site-introduction-text{
    padding: 56px 14px;
    text-align: center;
    background: linear-gradient(to bottom, #ebebeb57, #fff);
    background-clip: text;

    h3{
      color: unset;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

section{
  display: flex;
  gap: 56px;
  margin-bottom: 56px;
  max-width: 1400px;
  margin-inline: auto;
  padding: 0 14px;
}

section.landing-nav{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;

  article{
    width: 100%;
    backdrop-filter: blur(24px) saturate(1);
    box-shadow: inset 0px 0px 7.5px #161616;
    border: var(--border);
    padding: 28px;
    border-radius: 14px;
  }
}

section.apod{
  flex-direction: column;

  .apod-api-content{
    display: grid;
    gap: 56px;
    grid-template-columns: .5fr 1fr;

    .apod-info{
      display: flex;
      flex-direction: column;
      gap: 28px;
    }
  }
}









@media screen and (max-width: 1008px) {

  section.landing-nav{
    display: flex;
    flex-direction: column;
  }
  
  section.apod{
    .apod-api-content{
      display: flex;
      flex-direction: column-reverse;
      gap: 14px;

      .apod-info{
        gap: 14px;
      }
    }   
  }
}