@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul[role='list'], ol[role='list']{
  list-style: none;
}
li{
  list-style-type: none;
}
html:focus-within{
  scroll-behavior: smooth;
}
a:not([class]){
  text-decoration-skip-ink: auto;
}
img, picture, svg, video, canvas, iframe{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat; 
  background-size: cover;
}
iframe{
  width: 100%;
  aspect-ratio: 14 / 9;
}
input, button, textarea, select{
  border: none;
  cursor: pointer;
}








:root {
  --body: #fafafa;
  --element: #ffffff;

  --standout-text: #000;
  --paragraph-text: #424242;

  --border: 1px solid #ebebeb;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body: linear-gradient(to bottom, #00000062, #000000 180px), linear-gradient(to right, #00000000, #00000033, #00000000), linear-gradient(to right, #006cfa, #780074);
    --element: #000000;

    --standout-text: #fff;
    --paragraph-text: #b2b2b2;

    --border: 1px solid #1e1e1e;
  }
}

body, html{
  scroll-behavior: smooth;
  min-height: 100vh;
  background: var(--body);
}
body{
  display: flex;
  flex-direction: column;
}






h1{
  font-size: clamp(2em, 3.5vw, 3em);
  font-weight: 500;
  letter-spacing: -.03em;
  color: var(--standout-text);
  text-align: center;
}
h2{
  font-size: clamp(1.35em, 3.5vw, 1.85em);
  color: var(--standout-text);
  font-weight: 500;
  letter-spacing: -.03em;
}
h3{
  font-size: 1.25em;
  color: var(--standout-text);
  font-weight: 500;
  letter-spacing: -.03em;
  margin-bottom: 14px;
}
p{
  color: var(--paragraph-text);
}








header{
  padding: 14px;
  background: var(--element);
  border-bottom: var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer{
  margin-top: auto;
  padding: 56px;
  background: var(--element);
  border-top: var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  p{
    font-size: 1.35em;
    font-weight: 600;
    letter-spacing: -.03em;
    color: var(--standout-text);
  }
}







main{
  padding: 0 14px;
}
.page-intro{
  padding: 56px 0;
  text-align: center;
}
.home{
  .site-introduction-text{
    padding: 56px 14px;
  }
}

section.apod{
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin-bottom: 56px;
  max-width: 1400px;
  margin-inline: auto;

  .apod-api-content{
    display: grid;
    gap: 56px;
    grid-template-columns: .5fr 1fr;

    .apod-info{
      display: flex;
      flex-direction: column;
      gap: 28px;
    }
  }
}









@media screen and (max-width: 1008px) {
  .daily{
    section.apod{
      .apod-api-content{
        display: flex;
        flex-direction: column-reverse;
        gap: 14px;
  
        .apod-info{
          gap: 14px;
        }
      }
    }
  }
}