@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

li {
  list-style-type: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img, picture, svg, video, canvas, iframe {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

iframe {
  width: 100%;
  aspect-ratio: 14/9;
}

input, button, textarea, select {
  border: none;
  cursor: pointer;
}

:root {
  --body: linear-gradient(to bottom, #00000062, #000000 180px), linear-gradient(to right, #00000000, #00000033, #00000000), linear-gradient(to right, #006cfa, #780074);
  --element: #050505d5;
  --standout-text: #fff;
  --paragraph-text: #b2b2b2;
  --border: 1px solid #141414;
}

body, html {
  scroll-behavior: smooth;
  min-height: 100vh;
  background: var(--body);
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: clamp(2em, 3.5vw, 3em);
  font-weight: 600;
  letter-spacing: -0.03em;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: clamp(1.35em, 3.5vw, 1.85em);
  font-weight: 500;
  letter-spacing: -0.03em;
  color: var(--standout-text);
}

h3 {
  font-size: 1.25em;
  font-weight: 500;
  letter-spacing: -0.03em;
  margin-bottom: 14px;
  color: var(--standout-text);
}

p {
  color: var(--paragraph-text);
}

header {
  padding: 14px;
  background: var(--element);
  border-bottom: var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.glow-line {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to right, transparent, rgba(64, 0, 255, 0.6862745098), transparent);
  height: 1px;
}

footer {
  margin-top: auto;
  padding: 56px;
  background: var(--element);
  border-top: var(--border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo p {
  font-size: 1.35em;
  font-weight: 600;
  letter-spacing: -0.03em;
  color: var(--standout-text);
}

main {
  z-index: 250;
}

.content .site-introduction-text {
  padding: 56px 14px;
  text-align: center;
  background: linear-gradient(to bottom, rgba(235, 235, 235, 0.3411764706), #fff);
  -webkit-background-clip: text;
          background-clip: text;
}
.content .site-introduction-text h3 {
  color: unset;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

section {
  display: flex;
  gap: 56px;
  margin-bottom: 56px;
  max-width: 1400px;
  margin-inline: auto;
  padding: 0 14px;
}

section.landing-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
}
section.landing-nav article {
  width: 100%;
  background: var(--element);
  border: var(--border);
  padding: 28px;
}
section.landing-nav article:nth-of-type(2) {
  border-inline: none;
}

section.apod {
  flex-direction: column;
}
section.apod .apod-api-content {
  display: grid;
  gap: 56px;
  grid-template-columns: 0.5fr 1fr;
}
section.apod .apod-api-content .apod-info {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

@media screen and (max-width: 1008px) {
  section.landing-nav {
    display: flex;
    flex-direction: column;
  }
  section.apod .apod-api-content {
    display: flex;
    flex-direction: column-reverse;
    gap: 14px;
  }
  section.apod .apod-api-content .apod-info {
    gap: 14px;
  }
}/*# sourceMappingURL=globals.css.map */